service cloud.firestore {
  match /databases/{database}/documents {

    function isOwnerOrAdmin() {
      return request.auth.token.isAdmin == true || request.auth.uid == resource.data.userId;
    }

    match /crowd-inputs/{input} {
      allow read;
      allow create: if request.auth.uid != null && request.data.votes == undefined;
      allow update: if isOwnerOrAdmin() && request.data.votes == undefined;
      allow delete: if isOwnerOrAdmin();
    }

  }
}
