service cloud.firestore {
  match /databases/{database}/documents {

    match /crowd-inputs/{input} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.token.isAdmin == true ||
      								 request.auth.uid == resource.data.userId;
      allow delete: if request.auth.token.isAdmin == true ||
                       request.auth.uid == resource.data.userId;
    }

  }
}
